
/* if w <= 1000px */
  @media screen and (max-width: 1000px) {
    .image-conf {
      width: 200px;
      height: 200px;
    }
    .content-1 {
      grid-template-columns: 15rem 1fr;
    }
  
    .header {
      padding: 100px 0px 100px;
      margin: 0px 0px;
      background-color: rgb(0, 0, 0);
  
    }
    .image-content-1 {
      padding-right: 50px;
    }
  
    .user {
      margin: 0px 0px 0px 0px;
    }
  }

  @media screen and (max-width: 500px) {
    .image-conf {
      visibility: hidden;
    }
    .content-1 {
      grid-template-columns: 2rem 1fr;
    }
  
    .header {
      padding: 100px 0px 100px;
      margin: 0px 0px;
      background-color: rgb(0, 0, 0);
  
    }
    .image-content-1 {
      padding-right: 50px;
    }
  
    .user {
      margin: 70px 0px 100px 0px;
    }
  }
  

  
  /* if w = 2000+ */
  @media screen and (min-width: 2000px) {
      .image-conf {
        width:700px;
        height:700px;
        border-radius: 50%;
      }
      .content-1 {
        grid-template-columns: 50rem 1fr;
      }
      .header-context {
        font-weight: bold;
        font-size: 90px;
      }
    
      .header-description {
        font-size: 35px;
        margin-bottom: 30px;
      }
      .btn-contact-me {
        background-color: orange;
        color: rgb(0, 0, 0);
        padding: 30px 60px;
        border: 1px solid orange;
        border-radius: 30px;
        font-size: 35px;
        text-decoration: none;
        cursor: pointer;
        box-shadow: 30px 0px 1990px orange;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
}
    }
    